@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

html {
    font-size: 22px;
}

body {
    background-color: #333;
    color: whitesmoke;

}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: 'Permanent Marker', cursive;
}