html {
    font-size: 22px;
}

body {
    background-color: #333;
    color: whitesmoke;

}

body {
    margin: 0;
    height: 100vh;
    background-color: black;
    overflow: hidden;

}

span {
    /* background: url("https://cdn4.iconfinder.com/data/icons/general-office/91/General_Office_54-512.png"); */
    background: url(../images/2530804_general_heart_heart\ beat_heart\ disease_heart\ rate_icon.png);
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: cover;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    pointer-events: none;
    animation: animate 6s linear;
}

/* animation */
@keyframes animate {
    0% {
        transform: translate(-50%, -50%);
        opacity: 1;
        /* change color of heart using hue-rotate */
        filter: hue-rotate(0);
    }

    100% {
        transform: translate(-50, -5000%);
        opacity: 0;
        /* change color of heart using hue-rotate */
        filter: hue-rotate(720deg);

    }
}